IoT.json
[
    {
        "id": "fdbc475a.c47a78",
        "type": "tab",
        "label": "Aperturas",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aa154fc61cd1a26b",
        "type": "tab",
        "label": "Sirena",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5e405b35.7606e4",
        "type": "ui_tab",
        "name": "Aperturas",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ba93b268.a938a",
        "type": "ui_group",
        "name": "PING",
        "tab": "99b27e91bcc6aec5",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81c174c4.9a7a38",
        "type": "ui_group",
        "name": "----PORTON----",
        "tab": "5e405b35.7606e4",
        "order": 3,
        "disp": true,
        "width": 3,
        "collapse": false
    },
    {
        "id": "6b1ebbdb.d39064",
        "type": "ui_group",
        "name": "MENU",
        "tab": "5e405b35.7606e4",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c2ace861.4cf068",
        "type": "ui_group",
        "name": "ILUMINACION",
        "tab": "5e405b35.7606e4",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d235d9572e70bea6",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#09618a",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#09618a",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#09618a",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0e93d2",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#09618a",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "KIoT",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "624338f23d25da0d",
        "type": "ui_tab",
        "name": "Sirena",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bfcd6cd53eaaf6c4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d57b6c861078f025",
        "type": "ui_group",
        "name": "Sirena",
        "tab": "624338f23d25da0d",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "369b006396a027a1",
        "type": "ui_spacer",
        "z": "aa154fc61cd1a26b",
        "name": "spacer",
        "group": "d57b6c861078f025",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "acc69ac760d53ad2",
        "type": "ui_spacer",
        "z": "aa154fc61cd1a26b",
        "name": "spacer",
        "group": "d57b6c861078f025",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "2c092b9012a34540",
        "type": "mqtt-broker",
        "name": "",
        "broker": "54.243.59.238",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "99b27e91bcc6aec5",
        "type": "ui_tab",
        "name": "Red",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d6411b8ac676fece",
        "type": "ui_group",
        "name": "----PORTON----",
        "tab": "5e405b35.7606e4",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "efd042d9698102dc",
        "type": "ui_spacer",
        "z": "fdbc475a.c47a78",
        "name": "spacer",
        "group": "c2ace861.4cf068",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "9e991605a97e56fa",
        "type": "ui_spacer",
        "z": "fdbc475a.c47a78",
        "name": "spacer",
        "group": "c2ace861.4cf068",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "e25ebb660a3f6202",
        "type": "ui_spacer",
        "z": "fdbc475a.c47a78",
        "name": "spacer",
        "group": "c2ace861.4cf068",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "62fad3f.86eb62c",
        "type": "rpi-gpio out",
        "z": "fdbc475a.c47a78",
        "name": "",
        "pin": "17",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "14e3f14c.16751f",
        "type": "rpi-gpio out",
        "z": "fdbc475a.c47a78",
        "name": "",
        "pin": "27",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "1263dd78.22f133",
        "type": "trigger",
        "z": "fdbc475a.c47a78",
        "name": "",
        "op1": "garage",
        "op2": "false",
        "op1type": "str",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "5ba34dbb.1904e4"
            ]
        ]
    },
    {
        "id": "4f4f898a.888c48",
        "type": "trigger",
        "z": "fdbc475a.c47a78",
        "name": "",
        "op1": "door",
        "op2": "false",
        "op1type": "str",
        "op2type": "bool",
        "duration": "0.5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "b32938a7.d96a98"
            ]
        ]
    },
    {
        "id": "4031320d.4784cc",
        "type": "inject",
        "z": "fdbc475a.c47a78",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "3ca43ddc.2095a2"
            ]
        ]
    },
    {
        "id": "1f90f7b5.8c3988",
        "type": "ui_button",
        "z": "fdbc475a.c47a78",
        "name": "",
        "group": "d6411b8ac676fece",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "VEHICULAR",
        "tooltip": "ABRE / CIERRA PORTON VEHICULAR",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "1263dd78.22f133"
            ]
        ]
    },
    {
        "id": "bbf8d7c.1f98c28",
        "type": "ui_button",
        "z": "fdbc475a.c47a78",
        "name": "",
        "group": "81c174c4.9a7a38",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "PEATONAL",
        "tooltip": "ABRE EL PORTON PEATONAL",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "4f4f898a.888c48"
            ]
        ]
    },
    {
        "id": "be43e1f1.1ad56",
        "type": "ui_led",
        "z": "fdbc475a.c47a78",
        "order": 2,
        "group": "d6411b8ac676fece",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#a9d0f5",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "a4291817.e17308",
        "type": "ui_led",
        "z": "fdbc475a.c47a78",
        "order": 4,
        "group": "d6411b8ac676fece",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#a9d0f5",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "eaf35e03.9e3cd",
        "type": "ui_led",
        "z": "fdbc475a.c47a78",
        "order": 3,
        "group": "d6411b8ac676fece",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#a9d0f5",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "df854de5.e7fd4",
        "type": "ui_led",
        "z": "fdbc475a.c47a78",
        "order": 2,
        "group": "81c174c4.9a7a38",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#A9D0F5",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "2d4d69b0.b40e06",
        "type": "ui_led",
        "z": "fdbc475a.c47a78",
        "order": 3,
        "group": "81c174c4.9a7a38",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#A9D0F5",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "87d812ba.b1cd3",
        "type": "ui_led",
        "z": "fdbc475a.c47a78",
        "order": 4,
        "group": "81c174c4.9a7a38",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#A9D0F5",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "5ba34dbb.1904e4",
        "type": "clock-generator",
        "z": "fdbc475a.c47a78",
        "name": "",
        "topic": "",
        "period": "1",
        "output": "1",
        "init": false,
        "x": 580,
        "y": 160,
        "wires": [
            [],
            [
                "62fad3f.86eb62c",
                "be43e1f1.1ad56",
                "a4291817.e17308",
                "eaf35e03.9e3cd"
            ]
        ]
    },
    {
        "id": "3ca43ddc.2095a2",
        "type": "ui_clock",
        "z": "fdbc475a.c47a78",
        "name": "",
        "group": "c2ace861.4cf068",
        "order": 1,
        "width": 2,
        "height": 2,
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "d8d4dac62046ae02",
        "type": "mqtt in",
        "z": "fdbc475a.c47a78",
        "name": "",
        "topic": "control/relay",
        "qos": "0",
        "datatype": "auto",
        "broker": "2c092b9012a34540",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "67c2535e774ede45"
            ]
        ]
    },
    {
        "id": "67c2535e774ede45",
        "type": "switch",
        "z": "fdbc475a.c47a78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "garage",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "door",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light_off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "1263dd78.22f133"
            ],
            [
                "4f4f898a.888c48"
            ],
            [
                "ea91e4246bd1974b"
            ],
            [
                "4e650cd9b0507355"
            ]
        ]
    },
    {
        "id": "9615c2d0e6b6645e",
        "type": "rpi-gpio out",
        "z": "fdbc475a.c47a78",
        "name": "",
        "pin": "18",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "16a14b8259e8623d",
        "type": "ui_switch",
        "z": "fdbc475a.c47a78",
        "name": "",
        "label": "LUZ",
        "tooltip": "",
        "group": "c2ace861.4cf068",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 360,
        "wires": [
            [
                "9336801c43e2a266"
            ]
        ]
    },
    {
        "id": "9336801c43e2a266",
        "type": "change",
        "z": "fdbc475a.c47a78",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 420,
        "wires": [
            [
                "9615c2d0e6b6645e",
                "7ec82076186cb560"
            ]
        ]
    },
    {
        "id": "4e650cd9b0507355",
        "type": "change",
        "z": "fdbc475a.c47a78",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "light_off",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 380,
        "wires": [
            [
                "16a14b8259e8623d"
            ]
        ]
    },
    {
        "id": "ea91e4246bd1974b",
        "type": "change",
        "z": "fdbc475a.c47a78",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "light_on",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "16a14b8259e8623d"
            ]
        ]
    },
    {
        "id": "04dcf7c32d304f6f",
        "type": "ui_text",
        "z": "fdbc475a.c47a78",
        "group": "c2ace861.4cf068",
        "order": 6,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "STATUS",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "1d6155a48774f26d",
        "type": "mqtt out",
        "z": "fdbc475a.c47a78",
        "name": "",
        "topic": "status/relay3",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2c092b9012a34540",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "7ec82076186cb560",
        "type": "change",
        "z": "fdbc475a.c47a78",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "Apagada",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "Encendida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 480,
        "wires": [
            [
                "1d6155a48774f26d",
                "6ab11803c3adc727"
            ]
        ]
    },
    {
        "id": "6ab11803c3adc727",
        "type": "debug",
        "z": "fdbc475a.c47a78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "9603ab15fc9277f1",
        "type": "mqtt in",
        "z": "fdbc475a.c47a78",
        "name": "",
        "topic": "status/relay3",
        "qos": "1",
        "datatype": "auto",
        "broker": "2c092b9012a34540",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "04dcf7c32d304f6f"
            ]
        ]
    },
    {
        "id": "b32938a7.d96a98",
        "type": "clock-generator",
        "z": "fdbc475a.c47a78",
        "name": "",
        "topic": "",
        "period": "1",
        "output": "1",
        "init": false,
        "x": 620,
        "y": 240,
        "wires": [
            [],
            [
                "14e3f14c.16751f",
                "87d812ba.b1cd3",
                "2d4d69b0.b40e06",
                "df854de5.e7fd4"
            ]
        ]
    },
    {
        "id": "2ceab9f6759ce4b3",
        "type": "ui_switch",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "d57b6c861078f025",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "c36b545a41e7e6b4",
                "27b0a0dd6d6305b5",
                "efb73caa11805f94",
                "f631523f9d1343cd",
                "1dfa21c789c296a8",
                "7fc83c397bdb9713",
                "eb79b3bf0c8161b2",
                "551c5b0c9cb1f819"
            ]
        ]
    },
    {
        "id": "6e8ed5c3855528c4",
        "type": "ui_button",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "group": "d57b6c861078f025",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "30 seg. ACTIVAR",
        "tooltip": "ACTIVA SIRENA X 30 SEGUNDOS",
        "color": "yellow",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "ca3072138bbf0ddb"
            ]
        ]
    },
    {
        "id": "41b75d593c487a3f",
        "type": "ui_button",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "group": "d57b6c861078f025",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "5 seg. ACTIVAR",
        "tooltip": "ACTIVA SIRENA X 5 SEGUNDOS",
        "color": "yellow",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "8cd286bc9ff95e9a"
            ]
        ]
    },
    {
        "id": "c36b545a41e7e6b4",
        "type": "trigger",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 150,
        "y": 140,
        "wires": [
            [],
            [
                "2ceab9f6759ce4b3"
            ]
        ]
    },
    {
        "id": "6d58385330e0257f",
        "type": "ui_led",
        "z": "aa154fc61cd1a26b",
        "order": 4,
        "group": "d57b6c861078f025",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#a9d0f5",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "cb2ff3a88a5dc2fb",
        "type": "ui_led",
        "z": "aa154fc61cd1a26b",
        "order": 3,
        "group": "d57b6c861078f025",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#a9d0f5",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 890,
        "y": 60,
        "wires": []
    },
    {
        "id": "27b0a0dd6d6305b5",
        "type": "clock-generator",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "topic": "",
        "period": "1",
        "output": "2",
        "init": false,
        "x": 560,
        "y": 140,
        "wires": [
            [
                "cb2ff3a88a5dc2fb",
                "6d58385330e0257f"
            ],
            [
                "6d58385330e0257f",
                "cb2ff3a88a5dc2fb"
            ]
        ]
    },
    {
        "id": "2d0f9dd9d12747a2",
        "type": "trigger",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "op1": "0",
        "op2": "1",
        "op1type": "num",
        "op2type": "num",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 820,
        "y": 420,
        "wires": [
            [],
            [
                "16ad1556889f8024",
                "d921362b7c9bd381"
            ]
        ]
    },
    {
        "id": "16ad1556889f8024",
        "type": "rpi-gpio out",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "pin": "22",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "efb73caa11805f94",
        "type": "trigger",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "op1": "false",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "cb2ff3a88a5dc2fb"
            ]
        ]
    },
    {
        "id": "f631523f9d1343cd",
        "type": "trigger",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "op1": "false",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "6d58385330e0257f"
            ]
        ]
    },
    {
        "id": "1dfa21c789c296a8",
        "type": "change",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 420,
        "wires": [
            [
                "3e2523c6ce7a3b8d",
                "16ad1556889f8024"
            ]
        ]
    },
    {
        "id": "47fa329ef0e673a9",
        "type": "ui_led",
        "z": "aa154fc61cd1a26b",
        "order": 5,
        "group": "d57b6c861078f025",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "1317d47b3656eccb",
        "type": "ui_led",
        "z": "aa154fc61cd1a26b",
        "order": 6,
        "group": "d57b6c861078f025",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "8cd286bc9ff95e9a",
        "type": "switch",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "property": "condicion",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "19ef5329bf15266e",
                "5fd46509a55697ab"
            ]
        ]
    },
    {
        "id": "19ef5329bf15266e",
        "type": "change",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "2d0f9dd9d12747a2",
                "16ad1556889f8024"
            ]
        ]
    },
    {
        "id": "ca3072138bbf0ddb",
        "type": "switch",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "property": "condicion",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "658167d6b51bd4c0",
                "1548111a6887831f"
            ]
        ]
    },
    {
        "id": "658167d6b51bd4c0",
        "type": "change",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 560,
        "wires": [
            [
                "16ad1556889f8024"
            ]
        ]
    },
    {
        "id": "1548111a6887831f",
        "type": "clock-generator",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "topic": "",
        "period": "1",
        "output": "2",
        "init": false,
        "x": 680,
        "y": 500,
        "wires": [
            [
                "47fa329ef0e673a9"
            ],
            [
                "47fa329ef0e673a9"
            ]
        ]
    },
    {
        "id": "3e2523c6ce7a3b8d",
        "type": "change",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "1548111a6887831f",
                "5fd46509a55697ab"
            ]
        ]
    },
    {
        "id": "5fd46509a55697ab",
        "type": "clock-generator",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "topic": "",
        "period": "1",
        "output": "2",
        "init": false,
        "x": 580,
        "y": 400,
        "wires": [
            [
                "1317d47b3656eccb"
            ],
            [
                "1317d47b3656eccb"
            ]
        ]
    },
    {
        "id": "7fc83c397bdb9713",
        "type": "trigger",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "op1": "false",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 460,
        "y": 280,
        "wires": [
            [
                "47fa329ef0e673a9"
            ]
        ]
    },
    {
        "id": "eb79b3bf0c8161b2",
        "type": "trigger",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "op1": "false",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "1317d47b3656eccb"
            ]
        ]
    },
    {
        "id": "d921362b7c9bd381",
        "type": "change",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 340,
        "wires": [
            [
                "5fd46509a55697ab",
                "eb79b3bf0c8161b2"
            ]
        ]
    },
    {
        "id": "f4df977b82b3f1db",
        "type": "inject",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "3f80c3e17a22b63c"
            ]
        ]
    },
    {
        "id": "3f80c3e17a22b63c",
        "type": "ui_clock",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "group": "d57b6c861078f025",
        "order": 1,
        "width": 2,
        "height": 2,
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "551c5b0c9cb1f819",
        "type": "change",
        "z": "aa154fc61cd1a26b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "condicion",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 60,
        "wires": [
            []
        ]
    }
]